.ag_container {
	text-align: center;
}

.ag_container h2 {
	font-size: 33px;
	font-weight: 300;
	color: #001766;
}

.form_element {
	margin-top: 20px;
}

.form_element input {
	font-size: 20px;
	margin-top: 20px;
	border-radius: 3px;
	border: 1px solid #ebebeb;
	box-sizing: border-box;
	padding: 11px 31px;
	background: #f7f7f7;
	font-weight: 300;
	width: 80%;
}

.form_element select {
	margin-top: 20px;
}

.form_element textarea {
	background: #f7f7f7;
	margin-top: 20px;
	border: 1px solid #ebebeb;
	border-radius: 3px;
	width: 80%;
	padding: 20px;
	box-sizing: border-box;
	font-size: 14px;
}
.form_element select {
	width: 80%;
	background: #f7f7f7;
	font-size: 20px;
	border: 1px solid #e1e1e1;
}

.ag_container button {
	font-size: 20px;
	padding: 10px 52px;
	background: #43a3d3;
	color: #fff;
	font-weight: 300;
	border-radius: 3px;
	border: none;
	margin-top: 20px;
	width: 80%;
}

.conf_link {
	font-weight: 600;
	margin-top: 20px;
}

.delete_game {
	text-align: center;
	margin-top: 20px;
}

.button {
	font-size: 20px;
	padding: 10px 52px;
	background: #d34343;
	color: #fff;
	font-weight: 300;
	border-radius: 3px;
	border: none;
	width: 80%;
	box-sizing: border-box;
	display: inline-block;
}
.edit_confirm {
	background: #8bc34a;
	color: #fff;
	padding: 10px 0px;
	width: 80%;
	margin: auto;
	margin-top: 20px;
}

.post_delete {
	background: #f44336;
	color: #fff;
  width: 80%;
	margin: auto;
  margin-top: 20px;
  padding: 10px 0px;
}
