.user_reviews {
	padding: 10px;
	box-sizing: border-box;
}
.user_reviews table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

.user_reviews td,
th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

.user_reviews tr:nth-child(even) {
	background-color: #dddddd;
}
