.login_container {
	text-align: center;
}

.login_container h2 {
	font-size: 33px;
	font-weight: 300;
	color: #001766;
}

.form_element {
	margin-top: 20px;
}

.form_element input {
	font-size: 20px;
	margin-top: 20px;
	border-radius: 3px;
	border: 1px solid #ebebeb;
	box-sizing: border-box;
	padding: 11px 31px;
	background: #f7f7f7;
	font-weight: 300;
	width: 80%;
}

.login_container button {
	font-size: 20px;
	padding: 10px 52px;
	background: #43a3d3;
	color: #fff;
	font-weight: 300;
	border-radius: 3px;
	border: none;
	margin-top: 20px;
	width: 80%;
}

.error {
  color: red;
  margin-top: 20px;
  text-align: center;
}